

NET "clk" IOSTANDARD = LVCMOS18;
NET "J" IOSTANDARD = LVCMOS18;
NET "K" IOSTANDARD = LVCMOS18;
NET "Q" IOSTANDARD = LVCMOS18;
NET "Qb" IOSTANDARD = LVCMOS18;
NET "clk" PULLDOWN;
NET "J" PULLDOWN;
NET "K" PULLDOWN;


NET "clk" LOC = R4;
NET "J" LOC = U3;
NET "K" LOC = T4;
NET "Q" LOC = R1;
NET "Qb" LOC = P2;
